.home {
    font-family: "Poppins",sans-serif;
    padding: 50px ;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 4%;
    cursor: pointer;
  }
  
  .wall1 {
    filter: brightness(40%);
    height: 610px;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0 0 0 155px ;
  }
  .ab-content{
    display: flex;
  flex-direction: column;
    align-items: center;
    margin-top: 10%;
  }

  .ab-topic{
    font-size: 1000%;
    font-weight: 700;
    line-height: 186px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    margin: auto;
    
  }
  .ab-subtopic{
    font-family: "Poppins",sans-serif;
    font-size: 200%;
    font-weight: 700;
    width: 829px;
    height: 120px;
    background-color: #0D113E;
    border-radius: 25px;
    line-height: 48px;
    text-align: center;
    padding-top: 1.5%;
  }

  .larger {
    font-size: 120%;
    line-height: 51px;
  }
  
  .topic01{
    font-family: "Poppins",sans-serif;
    font-size: 25px;
    color: black;
    font-weight: 700;
    margin-top: 15%;
    position: absolute;
    left: 7%;
  }

  .ab-q{
    font-family: "Poppins",sans-serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: 2%;

  }

  .about {
    width: 87.5%;
    border-radius: 28px;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 50px;
  }

  .ab-p-group{
    display: flex;
    justify-content: space-evenly;
  }
  .ab-p1{
    font-family: "Poppins",sans-serif;
    width: 40%;
    text-align: justify;
    
  }

  .ab-p2{
    font-family: "Poppins",sans-serif;
    width: 40%;
    text-align: justify;
    
  }

  .aboutBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;

  }
  .vision {
    font-size: 50px;
    font-weight: 600;
    line-height: 75px;
    letter-spacing: 0.24em;
    text-align: left;
    margin-bottom: 2%;
  }

  .vis {
    font-family: "Poppins",sans-serif;
    font-size: 25px;
    color: #ffffff;
    font-weight: 500;
    text-align: justify;
    width: 80%;
    height: 35%;
    background-color: #0D113E;
    border-radius: 25px;
    padding: 5% 2% 2% 2%;
    
  }

  .mission {
    font-size: 50px;
    font-weight: 600;
    line-height: 75px;
    letter-spacing: 0.24em;
    text-align: left;
    margin-bottom: 2%;
  }

  .mis {
    font-family: "Poppins",sans-serif;
    font-size: 25px;
    color: #ffffff;
    font-weight: 500;
    text-align: justify;
    width: 80%;
    height: 35%;
    background-color: #0D113E;
    border-radius: 25px;
    padding: 5% 2% 2% 2%;
  }

  .last {
    font-family: "Poppins",sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 41.46px;
    letter-spacing: 0.16em;
    text-align: center;
    margin-top: 5%;
  }

  .last2 {
    font-family: "Poppins",sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 41.46px;
    letter-spacing: 0.16em;
    text-align: center;
    margin-bottom : 5%;
  }

  .highlight {
    font-family: "Poppins",sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 41.46px;
    letter-spacing: 0.16em;
    text-align: center;
    color: #FF6B00;
    ;
  }
