.connect-img{
  filter: brightness(40%);
  display: block;
  width:100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
  
  .head{
    text-align: center;
    color: #0D113E;
    padding-top: 80px;
    font-weight: bold;
    font-size: 50px;
  }

  .para{
    width: 70%;
    text-align: center;
    font-size: 100%;
    margin: 2% auto 0 auto;
  }
  .orange-container{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
  }
  .orange-container1{
    padding: 3%;
    width: 30%;
    background-color: #FF6B00; 
    border-radius: 30px;
    z-index: 1;
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.947);
  }

  .orange-container2{
    padding: 5%;
    width: 30%;
    background-color: #FF6B00; /* Adjust the opacity as needed */
    border-radius: 69px;
    z-index: 1;
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.947);
  }

  .para1{
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 1.2vw;
  }

  .con-button{
    font-size: 120%;
    background-color: #0D113E;
    color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    padding: 5% 10%;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 15px;
    text-align: center;
    margin-top: 5%;
    font-weight: 700;
  }
  
  .con-button:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
  
  .con-button.active {
    background-color: #ffffff;
    color: #FF6B00;
  }
  
  .connect-02{
    display: flex;
    justify-content: center;
  }

  .sen1{
    text-align: center;
    font-size: 15px;
    color: black;
    padding-top: 8px;
  }

  

  
  
  
  
   
