.contact-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5% 0;
  
}
.contact-mimg {
  filter: brightness(40%);
  display: block;
  width:100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


.contact-white-container {
  display: flex;
  flex-direction: column;
    align-items: center;
  width: 70%;
  height: 85%;
  background-color: #ffffff68; /* Adjust the opacity as needed */
  border-radius: 103px;
  z-index: 0;
  box-shadow: 0 2px 50px rgba(0, 0, 0, 0.947);
  margin-top: -2%;
  padding: 2%;
}

.contact-container{
  display: flex;
  flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}
.contact-head {
  text-align: center;
  color: #0D113E;
  margin: 2% 0;
  font-weight: 1000;
  font-size: 400%;
  line-height: 80%;
  text-shadow: 0 2px 50px rgb(255, 255, 255);
}

.contact-head span{
  font-size: 60%;
  margin: auto;
}
.contact-orange-container {
  border-radius: 50px 0 0 50px;
  background-color: #FF6B00;
  z-index: 1;
  width: 53%;
  height: 60%;
  padding: 5% 5%;
}

.contact-white-container2 {
  border-radius: 0 50px 50px 0;
  background-color: #FFFFFF;
  z-index: 1;
  height: 60%;
  padding: 9.75% 4%;
}

.contact-head1 {
  color: #FFFFFF;
  font-size: 250%;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0.4ch;
}

.contact-name {
  font-size: 16px;
  color: #ffffff;
  
}

.contact-name-input {
  border-radius: 10px;
  width: 175px;
  height: 29px;
  background-color: #FFFFFF;
  color: black;
  border: none;
  z-index: 100;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.336);
}

.contact-email {
  font-size: 16px;
  color: #FFFFFF;
}

.contact-email-input {
  border-radius: 10px;
  width: 195px;
  height: 29px;
  background-color: #FFFFFF;
  color: black;
  border: none;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.336);
}

.contact-subject {
  font-size: 16px;
  color: #FFFFFF;
}

.contact-subject-input {
  border-radius: 10px;
  width: 420px;
  height: 50px;
  background-color: #FFFFFF;
  color: black;
  border: none;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.336);
}

.contact-message {
  font-size: 16px;
  color: #FFFFFF;
}

.contact-message-input {
  border-radius: 10px;
  width: 420px;
  height: 70px;
  background-color: #FFFFFF;
  color: black;
  border: none;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.336);
}


.contacts-button{
  font-size: 100%;
  background-color: #0D113E;
  color: rgb(255, 255, 255);
  border: 1px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 50%;
  padding: 2%;
  border-radius: 15px;
  text-align: center;
  
  
}

.contacts-button:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.contacts-button.active {
  background-color: #ffffff;
  color: #FF6B00;
}

.con-02{
  display: flex;
  justify-content: flex-end;
  margin-top: 5%;
}

.con-01{
  display: flex;
  flex-direction: column;
    align-items: stretch;
    margin-top: 5%;

}

.con-01 input{
  padding-left: 0 5%;
  width: 100%;
}
.con-0{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-para {
  font-size: 80%;
  text-align: justify;
}

.contact-para span{
  font-size: 120%;
  font-weight: 600;
}
.contact-information{
  font-size: 80%;
  margin-top: 5%;
}
.contact-information span{
  font-size: 150%;
}
.contact-phone {
  font-size: 12px;
  padding-left: 30px;
  padding-top: 25px;
}

.contact-phone-result {
  font-size: 18px;
  padding-top: 1px;
  padding-left: 30px;
}

.contact-email2 {
  font-size: 12px;
  padding-left: 30px;
  padding-top: 13px;
}

.contact-email2-result {
  font-size: 18px;
  padding-top: 1px;
  padding-left: 30px;
}

.contact-address {
  font-size: 12px;
  padding-left: 30px;
  padding-top: 13px;
}

.contact-address-result {
  font-size: 18px;
  padding-top: 1px;
  padding-left: 30px;
}

.contact-web {
  font-size: 12px;
  padding-left: 30px;
  padding-top: 13px;
}

.contact-web-result {
  font-size: 18px;
  padding-top: 1px;
  padding-left: 30px;
}
