.contact-image-container {
  position: relative;
  display: inline-block;
}

.contact-image-container img {
  display: block;
  width: 1473px;
  height: 741.5px;
  margin-left: 0px;
}

.contact-white-container {
  position: absolute;
  top: 100px;
  left: 210px;
  width: 1039px;
  height: 602px;
  background-color: #ffffff68; /* Adjust the opacity as needed */
  border-radius: 103px;
  z-index: 0;
  box-shadow: 3px 3px 3px 5px rgba(0, 0, 0, 0.466);
}

.contact-head {
  text-align: center;
  color: #0D113E;
  padding-top: 40px;
  font-weight: bold;
  font-size: 40px;
}

.contact-orange-container {
  top: 190px;
  left: 75px;
  position: absolute;
  border-radius: 50px 0 0 50px;
  background-color: #FF6B00;
  z-index: 1;
  width: 530px;
  height: 371px;
  box-shadow: -3px 1px 5px 6px rgba(0, 0, 0, 0.548);
}

.contact-white-container2 {
  top: 190px;
  right: 75px;
  position: absolute;
  border-radius: 0 50px 50px 0;
  background-color: #FFFFFF;
  z-index: 1;
  width: 359px;
  height: 371px;
  box-shadow: -1px -2px 5px 6px rgba(0, 0, 0, 0.564);
}

.contact-head1 {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  padding-top: 30px;
  padding-left: 50px;
  letter-spacing: 0.4ch;
}

.contact-name {
  font-size: 13px;
  color: #FFFFFF;
  padding-left: 50px;
  padding-top: 10px;
  
}

.contact-name-input {
  border-radius: 10px;
  width: 175px;
  height: 29px;
  margin-left: 50px;
  margin-top: 7px;
  background-color: #FFFFFF;
  color: black;
  border: none;
  position: relative;
  z-index: 100;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.336);
}

.contact-email {
  font-size: 13px;
  color: #FFFFFF;
  padding-left: 275px;
  margin-top: -59px;
}

.contact-email-input {
  border-radius: 10px;
  width: 195px;
  height: 29px;
  margin-left: 275px;
  margin-top: 7px;
  background-color: #FFFFFF;
  color: black;
  border: none;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.336);
}

.contact-subject {
  font-size: 13px;
  color: #FFFFFF;
  padding-left: 50px;
  padding-top: 7px;
}

.contact-subject-input {
  border-radius: 10px;
  width: 420px;
  height: 50px;
  margin-left: 50px;
  margin-top: 7px;
  background-color: #FFFFFF;
  color: black;
  border: none;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.336);
}

.contact-message {
  font-size: 13px;
  color: #FFFFFF;
  padding-left: 50px;
  padding-top: 7px;
}

.contact-message-input {
  border-radius: 10px;
  width: 420px;
  height: 70px;
  margin-left: 50px;
  margin-top: 7px;
  background-color: #FFFFFF;
  color: black;
  border: none;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.336);
}

.contact-button {
  color: #FFFFFF;
  background-color: #0D113E;
  font-weight: 700;
  font-size: 14px;
  width: 125px;
  height: 28px;
  margin-left: 345px;
  margin-top: 20px;
  border-radius: 7px;
  box-shadow: 1px 1px 3px 3px rgba(249, 248, 250, 0.336);
}

.contact-para {
  font-size: 13px;
  text-align: left;
  padding-top: 60px;
  padding-left: 30px;
}

.contact-phone {
  font-size: 10px;
  padding-left: 30px;
  padding-top: 25px;
}

.contact-phone-result {
  font-size: 16px;
  padding-top: 1px;
  padding-left: 30px;
}

.contact-email2 {
  font-size: 10px;
  padding-left: 30px;
  padding-top: 13px;
}

.contact-email2-result {
  font-size: 16px;
  padding-top: 1px;
  padding-left: 30px;
}

.contact-address {
  font-size: 10px;
  padding-left: 30px;
  padding-top: 13px;
}

.contact-address-result {
  font-size: 16px;
  padding-top: 1px;
  padding-left: 30px;
}

.contact-web {
  font-size: 10px;
  padding-left: 30px;
  padding-top: 13px;
}

.contact-web-result {
  font-size: 16px;
  padding-top: 1px;
  padding-left: 30px;
}
