
.login_page {
  background-color: #FF6B00;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  height: 100vh; 
  display: flex;
  justify-content: center; 
  align-items: center;
}

.login {
  width: 1100px;
  height: 620px;
  padding: 20px;
  border-radius: 100px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.1)), url("../Components/Assets/pexels-rezwan-1216589.jpg");
  background-size: cover;
  position: relative;
}
.login1{
  width: 480px;
  margin: 0 10%;
}

.login form {
  display: flex;
  flex-direction: column;
}

.login input[type="email"],
.login input[type="password"] {
  text-align: center;
  
}

.login input[type="submit"] {
  background-color: #0D113E;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login input[type="submit"]:hover {
  background-color: #0D113E;
}

.login p {
  text-align: center;
  margin-top: 20px;
}

.login a {
  color: white; 
  text-decoration: none;
}
.login1 h1{
  text-align: center;
  font-size: 55px;
  font-weight: 900;
  margin-bottom: 0px;
  
}
.login1 h6{
  text-align: left;
  font-size: 20px;
  margin: -19px 0 30px 45px;
  letter-spacing: 1.5px;
  font-weight: 300;
}
.googleLogin {
  background-color: #fff;
  width: 95%;
  margin: 0 auto 10px auto; /* Center the button horizontally */
  height: 50px;
  border: none;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

 .inputs input{
  background-color: #fff;
  width: 95%;
  margin: 0 auto 10px auto;
  height: 50px;
  border: none;
  border-radius: 15px;
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 35px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
 }

 .close-icon {
  filter: invert(100%);
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 2%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

 .inputs label{
  padding-left: 12px;
  font-size: 20px;
 }

 .bracker {
  display: flex;
  align-items: center;
  width: 95%;
  margin: 20px auto;
  font-family: "Poppins", sans-serif;
}

.bracker::before,
.bracker::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid #000000;
}

.bracker p {
  margin: 0 10px;
  color: #000000;
  font-weight: bold;
}
.input-container {
  width: 95%;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container input {
  padding-right: 30px; /* Space for the image */
}

.input-container img {
  position: absolute;
  top:40%;
  right: 5%;
  transform: translateY(-50%);
  cursor: pointer;
  align-self: center;
}

.login-button{
  background-color: #fff;
  margin: 5% auto 3% auto; 
  padding: 2% 20%;
  border: none;
  border-radius: 15px;
  font-size: 20px; 
  font-weight: 600;
  width: 95%;
  position: relative;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.login-button:hover{
  background-color: #FF6B00;
  color: #fff;
}
@media (max-width: 768px) {
  .login {
    height: auto; /* Allow height to adjust based on content */
    border-radius: 50px; /* Reduced border radius for smaller screens */
  }

  .login1{
    max-width: 90%; /* Adjusted max-width for smaller screens */
  }
}

/* Media query for screens smaller than 576px */
@media (max-width: 576px) {
  .login_page {
    padding: 20px; /* Added padding for smaller screens */
  }

  .login {
    padding: 10px; /* Reduced padding for smaller screens */
  }

  .login1 h1{
    font-size: 40px; /* Reduced font size for smaller screens */
  }
}

