@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar-container {
    flex: 0 0 auto;
}

.footer-container {
    flex: 0 0 auto;
}

.content-container {
    flex: 1 1 auto;
    display: flex;
}

.back-button {
    background: none;
    border: none;
    display: flex;
    margin: 20px;
}

.back-button img {
    width: 40px;
    cursor: pointer;
}

.sidebar {
    position: sticky;
    top: 0;
    align-self: flex-start;
    width: 15%;
    background-color: #f5f5f5;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: calc(100vh - 80px);
    /* Adjust based on the height of the navbar */
}

.sidebar button {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ffffff;
    border: 2px solid #FF6B00;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    cursor: pointer;
}

.sidebar button.active {
    background-color: #FF6B00;
    color: #ffffff;
}

.sidebar button:hover {
    background-color: #FF6B00;
    color: #ffffff;
}

.profile-cards-container {
    flex: 1;
    padding: 5%;
    font-family: 'Poppins', sans-serif;
    /* To account for the sidebar */
}

.profile-category {
    margin-bottom: 40px;
}

.profile-category h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.profile-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.profile-card {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background-color: #ffffff;
    border: 2px solid rgba(0, 0, 0, 0);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.7);
    padding: 20px;
    width: 300px;
}

.profile-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.profile-image {
    width: 40%;
    border-radius: 30px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
}

.profile-info01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}

.profile-name {
    font-size: 1.5em;
    font-weight: 800;
    margin: 0;
    color: #000;
}

.profile-role {
    color: #000;
    font-size: 1.2em;
    margin: 0;
    line-height: 1.2em;
    font-weight: 400;
    margin-left: 5%;
}

.pro-icon {
    width: 20px;
    margin-right: 5px;
    cursor: pointer;
}

.profile-rating {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.profile-content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-content p {
    font-size: 1em;
    margin-bottom: 10px;
    color: black;
}

.profile-content a {
    display: inline-block;
    color: #FF6B00;
    text-decoration: none;
    font-weight: bold;
}

.profile-content a:hover {
    text-decoration: underline;
}

.view-profile-button {
    background-color: #ffffff;
    color: #000;
    border: 2px solid #FF6B00;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.7em;
    cursor: pointer;
    padding: 3%;
    width: 40%;
    margin-top: 5%;
}

.view-profile-button:hover{
        background-color: #FF6B00;
        color: #ffffff;
}


.search-bar2 {
    position: absolute;
    top: 15%;
    right: 5%; /* Adjust as needed for desired right margin */
    z-index: 1000; /*Ensure it appears on top of other elements*/
  }

  .search-bar3 {
    position: absolute;
    top: 12%;
    right: 5%; /* Adjust as needed for desired right margin */
    z-index: 1000; /*Ensure it appears on top of other elements*/
  }
  
  .search-input2 {
    width: 290px; /* Adjust width as needed */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
  }
  
  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.progress-bar {
    width: 60%;
    max-width: 400px;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

.progress {
    width: 0;
    height: 100%;
    background-color: #FF5C35;
    animation: fill 3s infinite;
}

@keyframes fill {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}