.pro-mimg {
    filter: brightness(40%);
    max-height: 670px;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0 0 0 155px ;
}

.pro-content{
  display: flex;
  flex-direction: column;
    align-items: center;
    margin-top: 15%;

}
.pro-topic{
    font-family: "Poppins", sans-serif;
    font-size: 900%;
    color: white;
    margin: auto;
  }

  .pro-subtopic{
    font-size: 200%;
    font-weight: 500;
    height: 20%;
    background-color: #0D113E;
    border-radius: 25px;
    color: white;
    padding: 2% 5%;
    margin-top: 2%;
  }

  .pro-body01{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 5%;
  }

  .pro-line{
    border: 1px solid black;
    background-color: black;
    width: 100%;
    height: 1px;
    margin: 1% 0;
  }
  .pro-st1{
    font-family: "Poppins", sans-serif;
    font-size: 40px;
  }

  .pro-tline{
    font-family: "Poppins", sans-serif;
    font-size: 25px;
  }
  .pro-body02{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 5% 0 5%;
  }
  .pro-Subbody01{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2%;
}
.pro-Subbody02{
  display: flex;
  flex-direction: column;
    align-items: center;
    width: 20%;
}
.pro-body03{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
  .pro-fil{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 22px;
  }

  .pro-sea{
    font-family: "Poppins", sans-serif;
    font-size: 22x;
    font-weight: 600;
    
  }
  .pro-st2{
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin-top: 10%;
    margin-bottom: 5%;
    position: static;
  }

  .pro-con1-t1{
    font-size: 100%;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    padding: 5%;
    border-radius: 15px;
    text-align: center;
    
    
  }

  .pro-con1-t1:hover {
    background-color: #f0f0f0;
  }
  
  .pro-con1-t1.active {
    background-color: #FF6B00;
    color: white;
  }
  .pro-event01{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 0 5%;
  }
  .pro-event{
    margin-left: 5%;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: baseline;
    justify-content: right;
    border: 1px solid black;
    border-radius: 25px;
    margin-bottom: 5%;
  }
  
  .pro-Subbody04{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    width: 20%;
  }
  .pro-Subbody05{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    width: 20%;
  }
  .pro-con{
    width: 0.2%;
    height: 100%;
    background-color: black;
    margin-left: 26%;
    font-size: 10px;
    margin-top: -26%;
   
  }

  /* src/YourComponent.css */
.pro-scon1 {
  width: 110%;
  height: 50%;
  background-color: #0D113E;
  border-radius: 20px 20px 0 0;
  margin-bottom: 10%;
  position: relative;
}

.pro-box {
  color: rgb(255, 255, 255);
  padding-bottom: 5%;
}

.pro-box p {
  margin: auto;
  
}

.pro-img {
  width: 100%;
  height: 45%;
  border-radius: 20px 20px 0 0;
  filter: brightness(50%);
}

.pro-date {
  font-family: "Poppins", sans-serif;
  font-size: 80%;
  font-weight: 400;
  color: white;
  text-align: right;
  padding:  5%;
}

.pro-head {
  font-family: "Poppins", sans-serif;
  font-size: 100%;
  text-align: center;
  font-weight: 900;
  color: rgb(0, 0, 0);
  background-color: white;
  padding: 5% 0;
  width: 100%;
}

.pro-para {
  font-family: "Poppins", sans-serif;
  font-size: 80%;
  font-weight: 600;
  padding-top: 5%;
  padding-left: 5%;
}

.pro-prog, .pro-est {
  font-family: "Poppins", sans-serif;
  font-size: 80%;
  font-weight: 300;
  padding-left: 5%;
}

.pro-md {
  font-size: 80%;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 50%;
  padding: 2%;
  border-radius: 15px;
  margin: 10px auto;
  text-align: center;
  display: block;
}

.pro-md:hover {
  background-color: #f0f0f0;
}

.pro-md.active {
  background-color: #FF6B00;
  color: white;
}

.pro-line01 {
  width: 75%;
  border: 1px solid black;
  background-color: black;
  height: 1px;
  margin: 1% 0;
  position: absolute;
}


  
  .pro-sm{
    font-family: "Poppins", sans-serif;
    color: #D9D9D9;
    background-color: #0D113E;
    border-radius: 10px;
    margin-left: 64%;
    margin-top: 66%;
    width: 10%;
    height: 35px;
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 4%;
  }
 