.signup01{
    background-color: #0D113E;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  height: 100vh; 
  display: flex;
  justify-content: center; 
  align-items: center;
}

.signup{
    width: 1100px;
  height: 620px;
  padding: 20px;
  border-radius: 100px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 1)), url("../Components/Assets/sign-img.jpg");
  background-size: cover;
  position: relative;
}

.close-icon {
    filter: invert(100%);
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 2%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}


.signup-locate {
    z-index: 1;
    text-align: right;
    padding-right: 5%;
    margin-top: 5%;
}

.head1 {
    font-family: Poppins, sans-serif;
    color: #0D113E;
    font-size: 45px;
    font-weight: 1000;
    letter-spacing: 0.07em;
}

.par1 {
    font-family: Poppins, sans-serif;
    font-size: 19px;
    color: #0D113E;
    font-weight: 500;
    line-height: 0.5;
    letter-spacing: 0.1em;
    text-align: right;
    margin-bottom: 5%;
}
.signupForm{
    flex-direction: column;
    display: flex;
    align-items: flex-end;
    margin-left: 47%;
}
.signupDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.signupDiv input{
    width: 48%;
}
.signupFormDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.signup-Fname,
.signup-Lname { /* Adjust as needed */
    display: inline-block; /* Ensure Fname and Lname are on the same line */
    text-align: left;
    padding-left: 5%;
    border-radius: 18px;
    border-color: #ffff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: #0D113E;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.12em;
    margin-bottom: 30px; /* Add spacing between fields */
}
.signup-Fname{
    margin-right: 3%;
}
.signup-email,
.signup-password {
    width: 100%; /* Adjust as needed */
    display: inline-block; /* Ensure Fname and Lname are on the same line */
    text-align: left;
    padding-left: 5%;
    border-radius: 18px;
    border-color: #ffffff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: #0D113E;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.12em;
    margin-bottom: 20px;
    
}
.row {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: flex-start;
}
.btn-container{
    margin-top: 2%;
    width: 120%;
}
.btn {
    color: #ffffff;
    font-family: Poppins;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 2px;
    border-radius: 18px;
    padding: 10px 10%;
    background-color:#FF6B00;
    border: none;
    cursor: pointer;
    text-align: center;
}

.signup-para2 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.27em;
    text-align: right;
    color: #0D113E;
    margin-top: 20px;
}

.signup-log {
    color: #FF6B00;;
    text-decoration: none;
    margin-left: 2%;
}
