.home_sup {
  font-family: "Poppins",sans-serif;
  padding: 50px ;
  background-size: cover;
  background-position: center;
  color: white;
  width: 763px;
}

.wall_sup {
  filter: brightness(65%);
  height: 610px;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 0 0 0 115px;
}

.sup-topic {
  font-family: "Poppins",sans-serif;
  font-size: 55px;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-left: 75px;
  margin-top: 65px;
  width: 1000px;

  }

.sup-subtopic1 {
    font-family: "Poppins",sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-left: 75px;
    width: 1000px;
}

  .sbutton1 {
    background-color: #FF6B00;
    border: none;
    padding: 17px 33px 17px 33px;
    border-radius: 25px 0px 25px 25px;
    font-family: "Poppins",sans-serif;
    color: #0D113D;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-left: 75px;
    width: 300px;
    
  }

  .sbutton2 {
    background-color: #FF6B00;
    border: none;
    padding: 17px 33px 17px 33px;
    border-radius: 0px 25px 25px 25px;
    font-family: "Poppins",sans-serif;
    color: #0D113D;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-left: 425px;
    margin-top: -65px;
    width: 300px;
    display: flex;
  }

.sbutton1:hover {
  color: #ffffff;
}

.sbutton2:hover {
  color: #ffffff;
}

.sup-subtopic2 {
  font-family: "Poppins",sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 51px;
  text-align: left;
  top: 525px;
  left: 250px;
  width: 829px;
  height: 120px;
  border-radius: 25px 0px 25px 25px;
  background: #0D113E;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 7%;
  padding-top: 1.5%;
  padding-left: 4%;
  padding-bottom: 1%;

}

.larger {
  font-family: Poppins;
  font-size: 34px;
  font-weight: 600;
  line-height: 51px;
  text-align: left;
 }

.frame1 {
  border: 5px solid black; 
  display: inline-block;   
  padding: 2%;
  margin: 15%;
  margin-top: 12%;
  border-radius: 25px;

 }

 .mat1 {
  font-family: "Poppins",sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 75px;
  text-align: left;

}

.mat2 {
  font-family: "Poppins",sans-serif;
  font-size: 23px;
  font-weight: 600;
  line-height: 34.5px;
  text-align: left;

}

.mat2::before {
  content: ""; 
  position: absolute;
  left: 0;
  right: 0;
  top: 127%; 
  border-bottom: 2px solid #000000;
  margin-left: 17%;
  width: 50.5%;
  margin-top: -12%;

}

.mat2::after {
content: ""; 
position: absolute;
left: 0;
right: 0;
top: 137%; 
border-top: 2px solid #000000; 
width: 50.5%;
margin-left: 17%;
margin-top: -13%;
}

.highlight {
font-family: "Poppins",sans-serif;
font-size: 23px;
font-weight: 600;
line-height: 34.5px;
text-align: left;
color: #FF6B00;

}

.mat3 {
margin-top: 50px;
font-family: "Poppins", sans-serif;
font-size: 25px;
font-weight: 600;
line-height: 37.5px;
text-align: left;


}

.button-mat {
margin-left: 90%;
background-color: #ffffff;
color: #000;
border-color: #ffffff;
font-family: "Poppins", sans-serif;
font-size: 25px;
font-weight: 600;
line-height: 37.5px;
display: flex;
margin-top: -40px;

}

.mat4 {
font-family: "Poppins", sans-serif;
font-size: 34px;
margin-top: auto;
font-weight: 600;
line-height: 51px;
text-align: left;

}

.frame2 {
  border: 5px solid black; 
  display: inline-block;   
  padding: 2%;
  margin: 15%;
  margin-top: auto;
  border-radius: 25px;

 }


 .ser1 {
  font-family: "Poppins",sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 75px;
  text-align: left;
}

.ser2 {
  font-family: "Poppins",sans-serif;
  font-size: 23px;
  font-weight: 600;
  line-height: 34.5px;
  text-align: left;
  

}

.ser2::before {
  content: ""; 
  position: absolute;
  left: 0;
  right: 0;
  top: 331.5%; 
  border-bottom: 2px solid #000000;
  margin-left: 17%;
  width: 50.5%;
  margin-top: -34%;

}

.ser2::after {
  content: ""; 
  position: absolute;
  left: 0;
  right: 0;
  top: 341.5%; 
  border-top: 2px solid #000000; 
  width: 50.5%;
  margin-left: 17%;
  margin-top: -35%;
}

.ser3 {
  margin-top: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 37.5px;
  text-align: left;
}

.button-ser {
  margin-left: 90%;
  background-color: #ffffff;
  color: #000;
  border-color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 37.5px;
  display: flex;
  margin-top: -40px;
}

.ser4 {
  font-family: "Poppins", sans-serif;
  font-size: 34px;
  margin-top: auto;
  font-weight: 600;
  line-height: 51px;
  text-align: left;

}

.sub-tab {
  border-spacing: 25px;  
  
}
 
.tab1 {
  background-color: #c3bbbb;
  width: 300px;
  height: 383px;
  border-radius: 10px;  
  text-align: center;
  color: #000000; 
}
 
.rate {
  font-family: "Poppins",sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: #000000;
  padding-left: 30px;

}

.sup-name {
  font-family: "Poppins",sans-serif;
  font-size: 23px;
  font-weight: 600;
  line-height: 34.5px;
  text-align: center;
  
}

.sup-title {
  font-family: Poppins;
font-size: 23px;
font-weight: 600;
line-height: 34.5px;
text-align: center;
color: #000;
}
 
.small {
  font-family: Poppins;
font-size: 11px;
font-weight: 500;
line-height: 16.5px;
text-align: center;
color: #000;
}

 .button3 {
   font-family: "Poppins",sans-serif;
   font-size: 13px;
   font-weight: 600;
   color: #ffffff;
   text-align: center;
   background-color: #0D113E;
   width: 130px;
   height: 35px;
   padding: 3px 15px 3px 15px;
   border-radius: 8px;
   border-color: #ffffff;
   border-style: double;
 }


