.home_sup {
  font-family: "Poppins",sans-serif;
  padding: 50px ;
  background-size: cover;
  background-position: center;
  color: white;
  width: 50%;
}

.sup-mimg {
  filter: brightness(40%);
  max-height: 80%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 0 0 0 155px ;
}

.sup-content{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-left: 5%;
  
}
.pro-content01{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;

}

.sup-topButton{
  justify-content: space-between;
  align-items: stretch;
  display: flex;
}
.sup-topic {
  font-family: "Poppins",sans-serif;
  font-size: 55px;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 0.02em;
  text-align: left;
  width: 150%;
  margin: auto;

  }

.sup-subtopic1 {
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    letter-spacing: 0.08em;
    text-align: justify;
    margin-top: 5%;
}

  .sbutton1 {
    background-color: #FF6B00;
    border: none;
    padding: 17px 33px 17px 33px;
    border-radius: 25px 0px 25px 25px;
    font-family: "Poppins",sans-serif;
    color: #0D113D;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    width: 300px;
    
  }

  .sbutton2 {
    background-color: #FF6B00;
    border: none;
    padding: 17px 33px 17px 33px;
    border-radius: 0px 25px 25px 25px;
    font-family: "Poppins",sans-serif;
    color: #0D113D;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    width: 300px;
  }

.sbutton1:hover {
  color: #ffffff;
}

.sbutton2:hover {
  color: #ffffff;
}

.sup-subtopic2 {
  font-family: "Poppins",sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 51px;
  text-align: left;
  border-radius: 25px 0px 25px 25px;
  background: #0D113E;

}

.larger {
  font-family: Poppins;
  font-size: 34px;
  font-weight: 600;
  line-height: 51px;
  text-align: left;
 }

 
 .sup-body03 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 5%;
  
}
.sup-Subbody02{
  display: flex;
  width: 24%;
  height: 50%;
  flex-direction: column;
  align-items: center;
  border: 3px solid black; 
  padding: 3% 3%;
  border-radius: 50px;
  background-color: #ff6a0090 ;
  
}
.sup-frame01{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
 }

.frame1 {
  border: 5px solid black; 
  padding: 5%;
  width: 80%;
  border-radius: 25px;
  margin-bottom: 5%;

 }
 .container1{
  display: flex;
 }
 .sup-scon1 {
  background-color: #0D113E;
  border-radius: 20px 20px 0 0;
  position: relative;
  margin: 0 2% ;
  box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.336);
}

.sup-img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.mat1{
  font-size: 60px;
  margin: auto;
}

.sup-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid black;
  border-radius: 25px;
  padding: 5px;
  width: 15%;
  cursor: pointer;
}

.sup-searchContainer{
  display: flex;
  justify-content: flex-end;
}
.sup-box {
  color: rgb(255, 255, 255);
  padding-bottom: 5%;
  text-align: center;
}

.sup-box p {
  margin: auto;
  
}

.frame1 {
  display: none;
}

.frame1.active {
  display: block;
}