.navbar{
    display: flex;
    justify-content: space-around;
    padding: 5px 16px;
}

.navbar img{
    width: 200px;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: flex;
    gap: 50px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    margin-left: 230px;
}
.nav-menu li{
    font-family: "Poppins", sans-serif;
    color: white;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    gap: 3px;
    cursor: pointer;

}
.navbtn{
    margin-left: 4px;
    font-family: "Poppins", sans-serif;
}

.joinbtn {
  background-color: rgb(10, 10, 54);
  color: white;
  height: 35px;
  width: 100px;
  outline: none;
  border-radius: 70px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
.signbtn{
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-size: 15px;
  border-color: rgba(255, 255, 255, 0);
  height: 35px;
  outline: none;
  border-radius: 70px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
.navbar button:active{
    color: rgb(12, 92, 212);
}
.navbar a{
    text-decoration: none;
    color: white;
}