.navbar {
    display: flex;
    justify-content: space-around;
    padding: 5px 16px;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
  }
  
  .navbar img {
    width: 80%;
    max-width: 300px; /* Limit the maximum width of the logo */
  }
  
  .nav-logo {
    z-index: 10;
}

.navbar img{
    width: 200px;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: auto; /* Push the logo to the left */
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
    list-style: none; /* Remove default list styles */
    gap: 30px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    margin-left: auto; /* Push the menu items to the right */
    padding: 0; /* Remove default padding */
  }
  
  .nav-menu li {
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .nav-menu li:last-child {
    margin-right: 0; /* Remove margin from the last item */
  }
  
  .nav-menu li a {
    text-decoration: none;
    color: white;
  }
  
  .joinbtn,
  .signbtn {
    height: 35px;
    width: 100px;
    border: none;
    border-radius: 70px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
  }
  
  
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column; /* Stack items vertically */
      align-items: center; /* Center items horizontally */
    }
  
    .nav-menu {
      margin-top: 20px; /* Add space between logo and menu on small screens */
      margin-left: 0; /* Reset margin for small screens */
    }
  }
  
  
  ul{
    margin:0.5% 0 ;
    padding:0;
    display:flex;
  }
  
  ul li{
    list-style:none;
    transition:0.5s;font-weight: 500;
  }
  
  ul li a{
    display: block;
    
    position:relative;
    text-decoration:none;
    padding:2px 5px;
    color:#fff;
    text-transform:uppercase;
    transition:0.5s;
  }
  
  ul:hover li a{
    transform:scale(1);
    opacity:0.8;
    filter:blur(1px);
  }
  
  ul li a:hover{
    transform:scale(1.2);
    opacity:1;
    filter:blur(0);
    text-decoration:none;
    color:#fff;
  }
  
  ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 1px solid white;
    transition: 0.5s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: -1;
  }
  
  ul li a.active:before {
    transition: transform 0.5s;
    transform-origin: left;
    transform: scaleX(1);
  }
  .nav-menu .active {
    border: 1px solid rgb(255, 255, 255); /* Color and style of the border */
    transition: border-bottom 0.3s ease; /* Smooth transition */
    border-radius: 15px;
  }