.detail {
    flex: 1;
    overflow-y: auto; /* Changed from scroll to auto */
    display: flex;
    flex-direction: column;
    max-height: 100%; /* Ensure it does not overflow */


    .icons{
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        padding: 20px;
        right: 0;
    
        img{
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }

    h2{
        text-align: center;
    }

    .user{
        padding: 30px 30px;
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 10px;
         border-bottom: 1px soli d rgba(240, 240, 240, 0.571);

         img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
         }
    }

    .info{
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex: 1;


        .option{

            .title{
                display: flex;
                align-items: center;
                justify-content: space-between;
                img{
                    width: 30px;
                    height: 30px;
                    background-color: rgba(0, 0, 0, 0.5);
                    padding: 10px;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }

            .photos{
                display: flex;
                flex-direction: column;
                gap: 20px;
                margin-top: 20px;

                .photoItem{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .photoDetail{
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        img{
                            width: 40px;
                        height: 40px;
                        border-radius: 5px;
                        object-fit: cover;
                        }

                        span{
                            font-size: 10px;
                            font-weight: 400;
                            color: lightgray;
                        }
                        
                    }

                    .icon{
                        width: 30px;
                    height: 30px;
                    background-color: rgba(0, 0, 0, 0.5);
                    padding: 10px;
                    border-radius: 50%;
                    cursor: pointer;
                    }
                }
            }
        }

        button{
            padding: 15px;
            background-color: rgba(255, 0, 0, 0.7);
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover{
                background-color: rgb(255, 0, 0);
            }

            &.logout{
                padding: 10px;
                background-color: #4949f782;
            }
        }
    }
}