.loginChat{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 50px;

    h2{
        font-size: 30px;
    }

    .item{
        flex:2;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
           

            input{
                padding: 20px;
                border: none;
                outline: none;
                background-color: rgba(0, 0, 0, 0.5);
                color: white;
                border-radius: 15px;
                font-size: 20px;
            }

            label{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                cursor: pointer;
                text-decoration:underline ;

                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 10px;
                    object-fit: cover;
                    opacity: 0.6;
                }
            }

            button{
                width: 100%;
                padding: 10px;
                border: none;
                background-color: rgba(0, 0, 255, 0.5);
                border-radius: 10px;
                cursor: pointer;
                color: white;
                font-weight: 600;

                &:disabled{
                    cursor: not-allowed;
                    background-color: rgba(0, 0, 255, 0.34);
                }

            }
        
        }
    }
    .separator{
        height: 80%;
        width: 2px;
        background-color: white;
    }

    
}